<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
--
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>-->


<ion-content class="contentcolor">

  <ion-grid class="grid">
   
  
<div>
  <div>
    <p class="logintext">Login</p>
  </div>
  <div>
    <img src = "../../assets/images/google.png" class="img"/>
  </div>
</div>  
<ion-list class="list">
  
    <div *ngIf = "error" class="error">
      <p>{{error}}</p>
    </div>

    <form [formGroup] = "loginform" class="form">
      <ion-row class="manage"> 
        
        <ion-item class="item" col-10 no-lines>
            <ion-icon name="ios-person-outline" item-left></ion-icon>
            <ion-label floating color="label">Email / Mobile*</ion-label>
            <ion-input type="text" formControlName = "username" class ="text-input"></ion-input>
        </ion-item>
        <ion-item *ngIf = "!loginform.controls.username.valid && loginform.controls.username.dirty">
          <p>Enter valid email address or phone Number</p>
        </ion-item>
      </ion-row>

      <ion-row class="manage">
       
        <ion-item class="item" col-10 no-lines>
            <ion-icon name="ios-key-outline" item-left></ion-icon>
          <ion-label floating color="label">Password*</ion-label>
          <ion-input type="password" formControlName = "password"></ion-input>
        </ion-item>
        
      </ion-row>
      <p *ngIf = "!loginform.controls.password.valid && loginform.controls.password.dirty" class="validation">Enter valid password</p>

    </form>

   
  </ion-list>
  <div class = "butn">
      <button ion-button round [disabled] = "!loginform.valid" (click) = "postLoginRequest()"><ion-avatar><img src="../../assets/images/002-login.png"></ion-avatar></button>
    </div>
  
</ion-grid>

    <!--<ion-row>
      <div class="signup">
         <button ion-button block outline (click) = "signup()">Sign Up.</button>
      </div>
    </ion-row>!-->
    <ion-grid>
      <ion-footer>
      <ion-row class="signforgot">
        <div col-6>
            <button ion-button (click) = "push()" class="forgot">Forgot Password?</button>
          </div>
         
        <div col-6>
          <button ion-button class="signBtn" (click) = "signup()">Create an account</button>
        </div>
      </ion-row>
      </ion-footer>
    </ion-grid>
   
  </ion-content>




