<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
--
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>-->


<ion-content padding>

  <ion-grid>
    <ion-col style="text-align:center;">
      <img src = "../../assets/images/apple-logo_318-40184.jpg" class="image">
    </ion-col>
  </ion-grid>
  <div class="logger">
<ion-list>
  <ion-item *ngIf = "error">
    <p>{{error}}</p>
  </ion-item>
  <form [formGroup] = "loginform">
  <ion-item>
    <ion-label floating>Email / Mobile Number</ion-label>
    <ion-input type="text" formControlName = "username" ></ion-input>
  </ion-item>

   <ion-item *ngIf = "!loginform.controls.username.valid && loginform.controls.username.dirty">
        <p>Enter valid email address or phone Number</p>
      </ion-item>

  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password" formControlName = "password"></ion-input>
  </ion-item>

  <ion-item *ngIf = "!loginform.controls.password.valid && loginform.controls.password.dirty">
        <p>Enter valid password</p>
      </ion-item>

  </form>
  <div style="margin-top:20px;">
  <button ion-button block [disabled] = "!loginform.valid" (click) = "postLoginRequest()">Login</button>
  </div>
  <br>
    <a (click) = "push()">Forgot Password</a>

    <div style="margin-top:20px;">
      Don't have an account yet? <a (click) = "signup()">Sign Up.</a>
    </div>
</ion-list>

</div>
</ion-content>
