<!--
  Generated template for the ShowRequestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
     </button>
    <ion-title>Show Request</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

 <ion-card *ngIf = "data">
   <ion-list>
     <button ion-item *ngFor = "let req of singleArray" (click) = "requirementDetail(req)">
        <ion-row>
          <ion-col text-wrap>
            <ion-icon name="cart"></ion-icon>
            Product Title: {{req.normalReq.Title}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Company Name: {{req.normalReq.companyName}}
          </ion-col>
        </ion-row>
          <ion-row>
          <ion-col>
            <small>Category: {{req.normalReq.name}}</small>
          </ion-col>
          <ion-col style="text-align:end">
            <small>Posted on {{req.date}}</small>
          </ion-col>
        </ion-row>

     </button>
   </ion-list>
 </ion-card>

 <div *ngIf="!data">
   <button ion-button (click) = "postrequest()">+</button>
 </div>

</ion-content>
