<!--
  Generated template for the RequirementDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Requirement Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-grid>
 

 <ion-card>
  <ion-row>
  <ion-col>
    <h2 text-center>Requirement Details</h2>
  </ion-col>
  </ion-row> 
  <br>
  <ion-col ion-item text-wrap class="margin">
    <h1>{{requirement.normalReq.Title}}</h1>
  </ion-col>
  
  <ion-col ion-item text-wrap class="margin">
    <h4>Description :- {{requirement.normalReq.description}}</h4>
  </ion-col>
  
  <ion-col ion-item class="margin">
      price range :- {{minrange}} - {{maxrange}}
  </ion-col>
  
  <ion-col ion-item class="margin">
    product type :- {{requirement.normalReq.productType}}
  </ion-col>

  <ion-col ion-item *ngIf = "requirement.normalReq.modelNo" class="margin">
    Model number :- {{requirement.normalReq.modelNo}}
  </ion-col>

  <ion-col ion-item *ngIf = "requirement.normalReq.colorPreference" class="margin">
    color :- {{requirement.normalReq.colorPreference}}
  </ion-col>
  
  <ion-col ion-item class="margin">
    Quantity :- {{requirement.normalReq.quantity}}
  </ion-col>
  
  <ion-col style="text-align:end" class="margin">
    {{requirement.normalReq.modifiedDate|date:'dd/MM/yyyy'}}
  </ion-col>
  </ion-card>
 
 <button ion-button round (click) = "passBid()">View Bids</button>

 <button ion-button round (click) = "deleteRequest()" *ngIf = "requirement.normalReq.status == 0">Delete</button>
</ion-grid>

</ion-content>



























