<!--<ion-header>
  <ion-navbar>
     <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
     </button>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>-->



 
<ion-content padding>

  <ion-slides *ngIf="data && data.length" pager="true" loop = "true" speed = "2000" autoplay = "2000">
    <ion-slide *ngFor = "let prodimage of data">
      <ion-row>
        <img src="{{category.partialUrl}}{{prodimage.images}}">
      </ion-row>
    </ion-slide>
  </ion-slides>



    <ion-row>
      <ion-col *ngFor = "let categ of category.show" col-4>
          <ion-card (click) = "selectSubcategory(categ.id)" >
          <img src = "{{category.partialUrl}}{{categ.image}}" class="imag">
          <div class="card-title">{{categ.name}}</div>
          </ion-card>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col *ngFor = "let subcateg of category.children" col-4>
        <ion-card (click) = "getcategoryid(subcateg.id)">
            <img src = "../../assets/images/kka.jpg" class="imag">
            <div class="card-title">{{subcateg.name}}</div>
        </ion-card>
      </ion-col>
    </ion-row>
    <button ion-button (click) = "productCorousel()">click me</button>
</ion-content>
