<!--
  Generated template for the PostRequestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Post Request</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <p *ngIf = "range">{{range}}</p>
  <ion-slides>
    <ion-slide>
      <ion-card>
        <form [formGroup] = "request">
          <ion-list>
            <ion-item>
              <ion-label floating>Title</ion-label>
              <ion-input type="text" formControlName="Title" [class.invalid] = "!request.controls.Title.valid && request.controls.Title.dirty"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label floating>Description</ion-label>
              <ion-textarea type="text" formControlName="Description" [class.invalid] = "!request.controls.Description.valid && request.controls.Description.dirty"></ion-textarea>
            </ion-item>

            <ion-item>
              <ion-label floating>Model Number</ion-label>
              <ion-input type="text" formControlName="modelnum" [class.invalid] = "!request.controls.modelnum.valid && request.controls.modelnum.dirty"></ion-input>
            </ion-item>
             
          </ion-list>
          <button ion-button round (click) = "next()" [disabled] = "!request.valid">Next</button>
        </form>
      </ion-card>
    </ion-slide>


    <ion-slide>
      <ion-card>
        <form [formGroup] = "request1">
          <ion-grid>
            Enter Price range in (₹)
            <ion-row>
              <ion-col col-6>
                <ion-item>
                <ion-label floating>minRange</ion-label>
                <ion-input type="number" formControlName = "minRange" [class.invalid] = "!request1.controls.minRange.valid && request1.controls.minRange.dirty"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col col-6>
                <ion-item>
                <ion-label floating>maxRange</ion-label>
                <ion-input type="number" formControlName = "maxRange" ngDefaultControl [(ngModel)] = "check" [class.invalid] = "!request1.controls.maxRange.valid && request1.controls.maxRange.dirty"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col>
                <ion-item>
                  <ion-range  pin = "true" dualKnobs="true" min = {{request1.controls.minRange.value}} max = {{request1.controls.maxRange.value}} [(ngModel)] = "structure" [ngModelOptions]="{standalone: true}" (ionChange) = "onDataChange($event)" debounce="500" step="10">
                    <ion-icon small range-left name="sunny"></ion-icon>
                      <ion-icon range-right name="sunny"></ion-icon>
                  </ion-range>
                  </ion-item>                   
              </ion-col>
             
              <div>
                <!--{{structure.upper}}
                {{structure.lower}}-->
                {{min}}
              </div> 

            </ion-row>
          </ion-grid>
          <ion-item *ngIf="!request1.controls.maxRange.valid && request1.controls.maxRange.dirty">
            Maximum range must be greater then Minimum range
          </ion-item>
          <button ion-button round (click) = "prev()">prev</button>
          <button ion-button round (click) = "next()" [disabled] = "!request1.valid">Next</button>
        </form>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <p>Enter location</p>
       <ion-searchbar (ionInput)="getLocation($event)" placeholder="city, state"></ion-searchbar>
       <ion-scroll style="width:100%; height:100vh" scrollY="true">
       <ion-list *ngIf = "location" scroll="true">
          <ion-item  *ngFor="let item of location" (click) = "getCity(item.id)">
            {{ item.location }}    
          </ion-item>
      </ion-list>
       </ion-scroll>
    </ion-slide>


    <ion-slide>
      <ion-card>
        <form [formGroup] = "request2">
          <ion-list>
           <ion-row wrap> 
              <ion-col col-6>
              <ion-item>
                <ion-label floating>Quantity</ion-label>
                <ion-input type="text" formControlName="Quantity" [class.invalid] = "!request2.controls.Quantity.valid && request2.controls.Quantity.dirty"></ion-input>
              </ion-item>
              </ion-col>

              <ion-col col-6> 
                <ion-item>
                  <ion-label floating>Unit</ion-label>
                  <ion-select [(ngModel)]="unit" [ngModelOptions]="{standalone: true}">
                    <ion-option value="Pieces">Pieces</ion-option>
                    <ion-option value="Kilogram">Kilogram</ion-option>
                    <ion-option value="Units" selected>Units</ion-option>
                    <ion-option value="Tons">Tons</ion-option>
                    <ion-option value="meter">meter</ion-option>
                    <ion-option value="Liter">Liter</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              
           </ion-row>
          <ion-row>
            <ion-item>
              <ion-label floating>Preferred Company Name</ion-label>
              <ion-input type="text" formControlName = "companyName"></ion-input>
            </ion-item>
          </ion-row>

            <ion-item *ngIf = "!request2.controls.Quantity.valid && request2.controls.Quantity.dirty">
              Please enter Quantity greater then 0
            </ion-item>


             <ion-item>
              <ion-label floating>color</ion-label>
              <ion-input type="text" formControlName="color" [class.invalid] = "!request2.controls.color.valid && request2.controls.color.dirty"></ion-input>
            </ion-item>
          </ion-list>
         <button ion-button round (click) = "prev()">prev</button>
          <button (click) = "sendRequest()" [disabled] = "!request2.valid" ion-button round>send</button>
        </form>
      </ion-card>
    </ion-slide>
  </ion-slides>   

  
</ion-content>
